
.top{

    width: 80%;
    margin: 2em auto;
    border: .1em solid #fff;
    @include neum (10px , 6px);

      .header__elment{
         padding: .5em;
         display: flex;
         align-items: center;
         justify-content: center;
         text-align: center;
      }

     .header__logo{

         
         a{
            font-size: 4em;
            font-family: 'Miss Fajardose', cursive;
            cursor: pointer;
         }

     }

     .header__categorias{

         padding: .8em;
         width: 12%;
         @include neum (10px , 6px);
         cursor: pointer;

         a{
            font-size: 1em;
            
            i{
               font-size: .8em;
            }
         }
     
     }

     .header_RedSocial{
      a{
         padding: .3em .5em;
         margin: .5em;
         font-size: 1.5em;
         display: inline-block;
         justify-content: center;
         cursor: pointer;

      }
     }

     .header_shopCar{

         a{
            font-size: 1.2em;
         }
     }

     .header_perfil{
      
         margin: 0;
         width: 8%;
         padding: .5em;
         @include insiteneum (50px , 7px);
            img{
               
               padding: 5%;
               @include neum (50px , 6px);
            }
     }



}