
//Incluya funciones primero (para que pueda manipular colores, SVG, calc, etc.
@import "../node_modules/bootstrap/scss/functions";

//Incluya el resto de las hojas de estilo Bootstrap requeridas
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

//Incluya los componentes opcionales de Bootstrap que desee
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import 'mixinper';
@import 'header';

@import url('https://fonts.googleapis.com/css2?family=Miss+Fajardose&display=swap');
//font-family: 'Miss Fajardose', cursive;

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
//font-family: 'Montserrat', sans-serif;

*{
    margin: 0;
    padding: 0;
    border: 0;
}

$font: #38675D;



body{
    
    background-color: #f3f3f3;
    

    a, li{
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        color: $font;
        list-style: none;
    }
}







